body {
    margin: 0;
    box-sizing: border-box;
    flex-direction: row;
}
span {
    display: block;
    text-align: center;
}
.container {
    width: 100%;
    display: flex;
}
.cat-list {
    /* width: 12%;  For small screens? */
    width: 22%; /* 720p screens*/
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 0;
        /*overflow: scroll;*/
}
.cat-li-item {
    padding: 15px;
}
.thumb {
    width: 100%;
}
.cat-info {
    width: 70%;
    margin: 0 auto;
    padding: 3% 0;
    position: relative;
}
.image {
    width: 100%;
}
.scorecard {
    position: absolute;
    top: 7%;
    margin: 10px;
    padding: 5px;
    background-color: rgba(0,0,0,0.6);
    color: whitesmoke;
}
.scorecard2 {
    left: 50%;
}
.image-holder {
    width: 88%;

}
.image-fixed {
    position: fixed;
    width: 88%;
}